/* * {
    border: 1px solid green;
} */

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #E7F1F1;
}

h1 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.hidden {
    display: none;
}

.palette-wrapper {
    display: flex;
    justify-content: center;
    height: 125px;
}

.box {
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.hex-text {
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.hex-text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 677px;
    margin-left: 265px;
}

.hex-code {
    margin: 15px;
}

.locked-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 4px;
    margin-right: 2px;
}

.unlocked-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 4px;
    margin-right: 2px;
}

#box-1 {
    background-color: #EA9999;
}

#box-2 {
    background-color: #FACB9C;
}

#box-3 {
    background-color: #FFE59A;
}

#box-4 {
    background-color: #B6D7A8;
}

#box-5 {
    background-color: #A4C4CA;
}

.saved-palettes-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 25px;
    border-left: 2px solid black;
}

h2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.saved-palettes {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 400px;
    flex-direction: row;
    width: 300px;
}

.mini-box {
    height: 15px;
    width: 15px;
    padding: 10px;
    margin: 2px;
    border: 2px solid black;
}

#mini-1 {
    background-color: #EA9999;
}

#mini-2 {
    background-color: #FACB9C;
}

#mini-3 {
    background-color: #FFE59A;
}

#mini-4 {
    background-color: #B6D7A8;
}

#mini-5 {
    background-color: #A4C4CA;
}

.saved-palettes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 250px;
}
