/* * {
    border: 1px solid green;
} */

html {
  height: 100%;
}
  
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #E7F1F1;
}
  
h1 {
    display: flex;
    justify-content: center;
    margin: auto;
}
  
.hidden {
  display: none;
}
  
.palette-wrapper {
    display: flex;
    justify-content: center;
    height: 300px;
}
  
.box {
    height: 130px;
    width: 130px;
    margin: 7px;
    border: 4px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
  
.hex-text {
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
  
.hex-text-wrapper {
  display: flex;
  justify-content: space-between;
  width: 677px;
  margin-left: 265px;
  /* margin-top: 195px; */
  /* position: fixed; */
}
  
.hex-code {
  margin: 15px;
}

.locked-icon {
    height: 28px;
    width: 28px;
    margin-bottom: 4px;
    margin-right: 2px;
}

.unlocked-icon {
    height: 28px;
    width: 28px;
    margin-bottom: 4px;
    margin-right: 2px;
}
    
.saved-palettes-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 25px;
}
  
h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
  
.saved-palettes {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
    height: 400px;
    width: 300px;
}
  
.mini-box {
  height: 15px;
  width: 15px;
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
}
.mini-box-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.mini-box-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
  
  
.saved-palettes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 250px;
}