* {
    border: 1px solid green;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #E7F1F1;
}

h1 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.palette-wrapper {
    display: flex;
    justify-content: center;
    height: 200px;
}

.box {
    height: 100px;
    width: 100px;
    margin: 20px;
    border: 2px solid black;
}

.hex-code {
    margin-top: 125px;
    text-align: center;
}

#box-1 {
    background-color: #EA9999;
}

#box-2 {
    background-color: #FACB9C;
}

#box-3 {
    background-color: #FFE59A;
}

#box-4 {
    background-color: #B6D7A8;
}

#box-5 {
    background-color: #A4C4CA;
}

.saved-palettes-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-left: 25px;
    border-left: 2px solid black;
}

h2 {
    margin: auto;
}

.saved-palettes {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 400px;
    flex-direction: row;
    width: 300px;
}

.hidden {
    display: none;
}

.mini-box {
    height: 15px;
    width: 15px;
    padding: 10px;
    margin: 2px;
    border: 2px solid black;
}

#mini-1 {
    background-color: #EA9999;
}

#mini-2 {
    background-color: #FACB9C;
}

#mini-3 {
    background-color: #FFE59A;
}

#mini-4 {
    background-color: #B6D7A8;
}

#mini-5 {
    background-color: #A4C4CA;
}

